@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

pre {
  background-color: #2a2734;
  color: #f8f8f2;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  
}
