@tailwind base;
@tailwind components;
@tailwind utilities;
@import "prismjs/themes/prism-tomorrow.css";


body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

#editor pre{
	height: 100%;
	padding-left: 3rem !important;
}

#editor{
	counter-reset: line;

	
}

#editor > pre {
  color: rgb(12, 214, 221);
}

.token.comment {
	color: rgb(5, 154, 0);
}

.token.string{
	color: rgb(255, 208, 0) ;
}

.indexline{
    position: absolute;
	left: 5px;
	color: #8a8a8a;
	text-align: right;
}

.editorArea{
	overflow-wrap: normal !important;
	word-break: keep-all !important;
	outline: none;
	padding-top: 1rem;
	padding-left: 3rem !important;
	white-space: nowrap;
}


.editorContainer{
	background-color: rgb(35, 35, 35);
}

pre{
	background-color: rgb(35, 35, 35);
}


